﻿@{
    ViewBag.Title = "Gantt";
}

<div id="ganttContainer" style='width:100%; height:100%;'></div>

@section scripts
{
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="/signalr/hubs" type="text/javascript"></script>
    <script src="~/Scripts/main.js" type="text/javascript" charset="utf-8"></script>
}